.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}
body{
    background-color: #E3D8D6;
    overflow-x: hidden;
}
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: #E3D8D6;
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.boton{
    opacity:0;
}

.item-container {
    background-color: #fff;
    font-family: "Comic Sans MS", sans-serif; 
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .main-item {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-flow: column !important;
  }
  
  .item-heading {
    font-family:  "Comic Sans MS", sans-serif !important;
    text-transform: capitalize;
    font-size: larger !important;;
  }
  
  .item-description {
    margin: .5rem 0;
    font-size: .9rem;
    font-weight: 200;
  }
  
  .item-price {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .footer-anchor {
    color: white;
    text-decoration: none !important;
    cursor: pointer;
  }
  
  .item-cart-btn {
    border: none;
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    border: 1px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: rgb(200, 142, 254);
    color: #fff;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 200;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .item-cart-btn:hover {
    color: #fff;
    background-color: rgb(160, 110, 206);
  }